#!/usr/bin/env sh
set -Eeuo pipefail

cd "$(CDPATH= cd -- "$(dirname -- "$0")" && pwd)"

podman_output=$(
    podman run -it --rm \
        --annotation='sysv=true' \
        {{ full_image_tag }} \
        postgres --version
)
expected_output="postgres (PostgreSQL) {{ project_major_version }}.{{ project_minor_version }}"
if [ "${podman_output::-1}" == "${expected_output}" ]; then
    echo "Image {{ full_image_tag }} is valid"
else
    echo "Image {{ full_image_tag }} is not valid"
    exit 1
fi

exit 0
