#!/usr/bin/env sh
set -Eeuo pipefail

cd "$(CDPATH= cd -- "$(dirname -- "$0")" && pwd)"

podman_output=$(
    podman run -it --rm \
        {{ full_image_tag }} \
        node --version
)
expected_output="v{{ extra[project_version]["node_version"] }}"
if [ "${podman_output::-1}" == "${expected_output}" ]; then
    echo "Image {{ full_image_tag }} is valid"
else
    echo "Image {{ full_image_tag }} is not valid"
    # exit 1
fi

exit 0
