#!/usr/bin/env bash
set -Eeuo pipefail

cd "$(CDPATH= cd -- "$(dirname -- "$0")" && pwd)"

podman_output=$(
    podman run -it --rm \
        {{ full_image_tag }} \
        uname -s -U
)
expected_output="FreeBSD {{ os_major_version }}0{{ os_minor_version_digit }}"
if [ "${podman_output::12}" == "${expected_output}" ]; then
    echo "Image {{ full_image_tag }} is valid"
else
    echo "Image {{ full_image_tag }} is not valid"
    exit 1
fi

exit 0
