services:
  node:
    image: "{{ details.docs_reference_full_image_tag }}"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./hello_world:/home/node/app
    ports: # use if it is necessary to expose the container to the host machine
      - "8888:8888"
    command: ["npm", "start"]
