# {{ details.name }}

The corresponding FreeBSD14.3p5-amd64 images are available on
[Github](https://github.com/matias-pizarro/freebsd-oci-containers/pkgs/container/freebsd-oci-containers%2F{{ project_alias }}),
[DockerHub]()
and
[Quay]().
CI/CD pipelines will soon add amd64/aarch64 support for 15.0, 14.snap, 15.snap and 16.snap.
{% if details.type == "upstream_adaptation" %}
* Upstream repo: [{{ details.upstreams.https.main }}]({{ details.upstreams.https.main }})
* FreeBSD fork: [{{ details.upstreams.https.freebsd }}]({{ details.upstreams.https.freebsd }})
{% endif %}
{% if details.usage_file_available %}
=== "Usage"

    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/usage.md"

{% endif %}
=== "Containerfile"

     [images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/Containerfile](https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/Containerfile)

    ```dockerfile
    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/Containerfile"
    ```

=== "Build"

     [images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/build.sh](https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/build.sh)

    ```console
    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/build.sh:6"
    ```

=== "Test"

     [images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/test.sh](https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/test.sh)

    ```console
    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/test.sh:6:-2"
    ```

=== "Push"

     [images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/push.sh](https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/push.sh)

    ```console
    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/push.sh:6"
    ```

=== "Tags"

    *Supported tags and respective Containerfile links*

    {% for full_image_tag, image in images.items() %}
    * {% for tag in image.supported_tags %}[{{ tag }}](https://github.com/matias-pizarro/freebsd-oci-containers/blob/main/build/images/{{ image.os_major_version }}.{{ image.os_minor_version }}/{{ image.project }}/{{ image.project_version }}/Containerfile){% if not loop.last %}, {% endif %}{% endfor %}
    {% endfor %}
{% if details.license_file_available %}
=== "License"

     [images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/LICENSE](https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/LICENSE)

    ```console
    --8<-- "images/{{ reference_os_major_minor_version }}/{{ details.slug }}/{{ details.reference_project_version }}/LICENSE"
    ```{% endif %}
