---
icon: {{ details.icon }}
---

# :{{ details.icon | replace('/', '-') }}:{ .{{ details.icon.split('/')|last }} } {{ details.name }}

The corresponding FreeBSD14.3p5-amd64 images are available on
[Github](https://github.com/matias-pizarro/freebsd-oci-containers/pkgs/container/freebsd-oci-containers%2F{{ project_alias }}),
[DockerHub]()
and
[Quay]().
CI/CD pipelines will soon add amd64/aarch64 support for 15.0, 14.snap, 15.snap and 16.snap.
{% if details.type == "upstream_adaptation" %}
* Upstream repo: [{{ details.upstreams.https.main }}]({{ details.upstreams.https.main }})
* FreeBSD fork: [{{ details.upstreams.https.freebsd }}]({{ details.upstreams.https.freebsd }})
{% endif %}
{% set reference_github_path = "https://github.com/matias-pizarro/freebsd-oci-containers/tree/main/build/" + reference_path %}
{% if details.usage_file.exists() %}
=== "Usage"

    --8<-- "docs/images/{{ details.slug }}/{{ details.usage_file.name }}"

{% endif %}
=== "Containerfile"

     {{ reference_path }}/Containerfile [:simple-github:]({{ reference_github_path }}/Containerfile)

    ```dockerfile
    --8<-- "{{ reference_path }}/Containerfile"
    ```
{% if details.compose_file.exists() %}
=== "Compose"

    ```dockerfile
    --8<-- "docs/images/{{ details.slug }}/{{ details.compose_file.name }}"
    ```

{% endif %}
=== "Build"

     {{ reference_path }}/build.sh [:simple-github:]({{ reference_github_path }}/build.sh)

    ```console
    --8<-- "{{ reference_path }}/build.sh:6"
    ```

=== "Test"

     {{ reference_path }}/test.sh [:simple-github:]({{ reference_github_path }}/test.sh)

    ```console
    --8<-- "{{ reference_path }}/test.sh:6:-2"
    ```

=== "Push"

     {{ reference_path }}/push.sh [:simple-github:]({{ reference_github_path }}/push.sh)

    ```console
    --8<-- "{{ reference_path }}/push.sh:6"
    ```

=== "Tags"

    *Supported tags and respective Containerfile links*

    {% for full_image_tag, image in images.items() %}
    * {% for tag in image.supported_tags %}[{{ tag }}]({{ reference_github_path }}/Containerfile){% if not loop.last %}, {% endif %}{% endfor %}
    {% endfor %}
{% if details.license_file_available %}
=== "License"

     {{ reference_path }}/LICENSE [:simple-github:]({{ reference_github_path }}/LICENSE)

    ```console
    --8<-- "{{ reference_path }}/LICENSE"
    ```{% endif %}
