.github {
  color: #181717;
}

.freebsd {
  color: #AB2B28;
}

.docker {
  color: #2496ED;
}

.nginx {
  color: #009639;
}

.node-js {
  color: #5FA04E;
}

.python {
  color: #3776AB;
}

.uv {
  color: #DE5FE9;
}

.postgresql {
  color: #4169E1;
}

